/* styles/fonts.css */
/* @font-face {
  font-family: "Motiva Sans";
  src: url("../../public/fonts/Motiva-Sans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Motiva Sans";
  src: url("../../public/fonts/Motiva-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
} */
